{% extends 'base.html.twig' %}

{% block title 'Toutes les recettes' %}

{% block body %}
    <p>
        Lorem
    </p>
    <table class= "table">
        <thread>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>
                <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}"> {{recipe.title}} </a>
            </td>
            <td>
                <a href="{{ path('recipe.edit', {id: recipe.id}) }}"> Editer </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
