{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    Lorem
    <ul>
        <li>
            <a href="{{ url('recupe.show', {id: 32, slug: 'pates-bolognaise}) }}"> Pâtes bolognaise</a>
{% endblock %}
