{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        Lorem
    </p>
    <ul>
        <li>
            <a href="{{ url('recipe.show', {id: 32, slug: 'pates-bolognaise'}) }}"> Pâtes bolognaise</a>
{% endblock %}
