{% extends 'admin/admin.html.twig' %}

{% block title 'Categories' %}

{% block body %}
    <p>
        <a class = "btn btn-primary"  href ="{{path('admin.category.create') }}">Ajouter une categories</a>
    </p>
    <table class = "table">
        <thread>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
        {% for category in categories %}
        <tr>
            <td> {{ category.name }}</td>
            <td>
                <div class="d-flex gap-1">
                    <a href="{{ path('admin.category.edit', {id: category.id}) }}">Editer</a>
                    <form action ="{{ path('admin.category.delete', {id:category.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Supprimer </button>   
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}